@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Poppins&family=Rubik+Mono+One&family=Rubik:wght@400;500&display=swap');

.blog {
    text-align: center;
}

.separator {
    color: rgb(150, 90, 28);
    font: 14px;
    font-family: 'Frank Ruhl Libre', serif;
    margin-bottom: 15px;
}

.blog__title {
    color: rgb(38, 29, 23);
    font-size: 45px;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.wheat-separator {
    margin-top: 10px;
}

.blog__subtitle {
    color: rgb(97, 78, 68);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.blog-articles {
    border: 2px;
    border-style: solid;
    border-color: rgb(97, 78, 68);
    border-width: 2px;
    box-sizing: px;
    text-align: center;
    padding-left: 350px;
    margin-bottom: 500px;

}

.blog__text {
    color: rgb(38, 29, 23);
    font-size: 24px;
    width: 970px;
    height: 470px;
    text-align: center;
    margin-bottom: 20px;
}

.blog__button {
    color: white;
    text-decoration-line: none;
    font-weight: 700;
    font-size: 14px;
    border-color: rgb(44, 133, 54);
    border-style: solid;
    border-radius: 25px;
    background-color: rgb(44, 133, 54);
    border-width: 17px;
    text-align: center; 
    font-family: 'Rubik', sans-serif;
    
}