@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Mono+One&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Poppins&family=Rubik+Mono+One&family=Rubik:wght@400;500&display=swap');
body {
    background-color: var(--background-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1100px;
    margin: auto;
}
h1 {
    overflow-wrap: break-word;
    color: rgb(4, 15, 115);
    font-family: 'Rubik', sans-serif;
    font-size: 62px;
}

:root {
    --background-color: #fdf5e6;
    --background-color-beer: #2c221d;
    --background-color-beer-light: rgb(244, 238, 225);
    --accent-color: #96c9d0;
    --second-accent-color: rgb(255, 91, 46);
    --title-text-color: rgb(4, 15, 115);
    --subtitle-text-color: rgb(66, 72, 117);
    --text-color: rgb(106, 110, 143);
    --color-xxx: rgb(150, 90, 28);
    scroll-behavior: smooth;
}

.container {
    max-width: 1100px;
    margin: auto;
}
