@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Mono+One&family=Rubik:wght@500&display=swap');

h1 {
    overflow-wrap: break-word;
    color: rgb(4, 15, 115);
    font-family:'Rubik', sans-serif;
    font-size: 62px;
 
}

h2 {}

    