.header {
    background-image: url(../img/header-background.png);
    padding: 5px;
    align-items: center;
}

.header-nav__logo {
    width: 168px;
    margin-right: 100px;
    margin-top: 20px;
}

.header-nav__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu__item {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-decoration-line: none;
    margin-top: 10px;

}

.menu__item:hover {
    text-decoration: underline;
    color: rgb(255, 91, 46);
}

@media (min-width: 500px) {
    .header__nav {
        display: flex;
    }

    .header-nav__menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 2;
    }
}

.header__social-icons {
    color: rgb(255, 91, 46);
    margin-left: 100px;
    margin-top: 20px;
}

.icon {
    color: rgb(255, 91, 46);
}

.header__title {
    margin-top: 200px;
    vertical-align: baseline;
}

.header__text {
    color: var(--subtitle-text-color);
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}

.header__picture {
    width: 500px;
    border-color: white;
    border-style: solid;
    border-radius: 100px;
    border-width: 20px;
    margin-left: 900px;
    margin-top: -100px;
    float: right;

}

.header__service-link {
    color: white;
    text-decoration: none;
    margin-top: 500px;
    font-family: Poppins;
    padding-right: 30px;
    position: relative;
    bottom: 5px;
    left: 10px;

}

.header__service-link-image {
    position: relative;
    top: 2px;
    right: 14px;
}

.header__phone-image {
    color: rgb(45, 53, 121);
}

.header__phone-number {
    color: rgb(45, 53, 121);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration-line: none;
    position: relative;
    bottom: 650px;
    left: 500px;

}

.header__phone-number:hover {
    text-decoration: underline;
}

.header__links {
    display: inline;
    flex-flow: row;
    flex-direction: row;
    align-items: center;


}